[Unit]
Description=USB Gadget setup (NCM+ACM composite)
After=sysinit.target local-fs.target systemd-udevd.service
Before=NetworkManager.service network.target
Wants=NetworkManager.service

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/gadget-setup
ExecStart=/usr/sbin/gadget-setup.sh
ExecStartPost=/usr/libexec/usb0-force-up
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
